# =============================
# AWS Configuration
# =============================
AWS_REGION=us-west-2

# Timestream
TS_DATABASE=IoTDatabase
TS_TABLE=DeviceMetrics

# DynamoDB
DYNAMO_ENDPOINT=http://host.docker.internal:8000
DDB_TABLE_STREETLIGHTS=Streetlights
DDB_TABLE_STREETLIGHT_METADATA=StreetlightMetadata
DDB_TABLE_USERS_AND_TENANTS=UsersAndTenants
DDB_TABLE_WS_CONNECTIONS=WebSocketConnections

# WebSocket
WS_ENDPOINT=wss://your-api-id.execute-api.us-east-1.amazonaws.com/prod

# =============================
# Cognito / Auth
# =============================
COGNITO_USER_POOL_ID=your_user_pool_id
COGNITO_APP_CLIENT_ID=your_app_client_id
AUTH_ENABLED=false # true for cognito

# =============================
# Lambda / Local Testing
# =============================
LAMBDA_STAGE=dev
LOG_LEVEL=INFO
