name: Firmware CI

on:
  push:
    branches: [ main, dev ]
    paths:
      - "firmware/**"
  pull_request:
    paths:
      - "firmware/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6
      with:
        submodules: true

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'
    
    - name: Install PlatformIO
      run: pip install platformio

    - name: Install dependencies
      run: sudo apt update && sudo apt install -y cmake gcc make

    - name: Run Build Script
      working-directory: firmware/scripts
      run: bash build.sh

    - name: Run Test Script
      working-directory: firmware/scripts
      run: bash run-tests.sh
